body {
    margin: 0em;
    background: #888;
}

div#fs {
    position: relative;
    margin: auto;
    width: 520px;
    background: white;
    border-radius: 1em;
    overflow: hidden;
}

div#datgui > .dg.a {
    margin-right: 0;
}

div#stats {
    position: absolute;
    top: 1em;
    left: 1em;
}

h1 {
	font-size: 2em;
    padding: 0;
    margin: 0;
}

p {
    margin: 0 0 .5em 0;
    float: right;
    font-size: .8em;
}

button {
    vertical-align: middle;
    margin: 0;
    float: right;
    margin: 1em;
}

canvas {
    background: white;
    margin: 2em 0em;
    width: 100%;
    margin-bottom: .5em;
}

div:-webkit-full-screen {  
  width: 100% !important;  
}  

:-webkit-full-screen:not(:root) {
  width: 80% !important;
  float: none !important;
}

:-moz-full-screen:not(:root) {
  width: 80% !important;
  float: none !important;
}
:-moz-full-screen #fs-inner {
  display: table-cell;
  vertical-align: middle;
}

:-moz-full-screen #fs {
  width: 80%;
  margin: auto;
}

#fs-container:-moz-full-screen {
  display: table;
  margin: auto;
  float: none;
  width: 100%;
  height: 100%;
}
